<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="testfw.app" Publisher="CN=Kishonti Kft." Version="3.0.5.0" />
  <mp:PhoneIdentity PhoneProductId="dcfce070-e7d3-4094-8752-a8aa91fe18de" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>testfw_app</DisplayName>
    <PublisherDisplayName>Kishonti Kft.</PublisherDisplayName>
    <Logo>Assets\Icon\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WindowsPhoneApp.App">
      <m3:VisualElements
        DisplayName="testfw_app"
        Description="testfw_app"
		    Square150x150Logo="Assets\Icon\Logo.png"
        Square44x44Logo="Assets\Icon\SmallLogo.png"
        ForegroundText="light"
		    BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\Icon\WideLogo.png" Square71x71Logo="Assets\Icon\Square71x71Logo.png">
        </m3:DefaultTile>

        <m3:SplashScreen Image="Assets\Icon\SplashScreen.png"/>

        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
      
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="removableStorage" />
  </Capabilities>
</Package>
